
   
  
<!doctype html>
	<html lang="fr">
		<head>
			<meta charset="utf-8">
			<title>Le formulaire</title>
			<style>
        	body {
            	background:white;
            	color:blue;
      			}
      		h2{
      			text-align: center;
      			font-size: 25px;
      		}
      		h3{
      			text-align: center;
      			font-size: 16px;
      		}
      		h4{
      			text-align: center;
      			font-size: 10px;
      			color:black;
      		}
    		</style>
		</head>
		<body>
		 <h2 class="title"><span>CLOUD COMPUTING</span></h2>
		 	<h3>
			<form action="http://localhost:5000/resultat" method="post">
					<label>Liste d'entiers</label> : <input type="string" name="liste" required/>
					<input type="submit" value="Envoyer" /> </br>
				</h3>
				<h4> Ex: 1,2,3,4,5,6
				</h4>
			</form>
		</body>
	</html>
