<!doctype html>
	<html lang="fr">
		<head>
			<meta charset="utf-8">
			<style>
        	body {
            	background:white;
            	color:blue;
      			}
      		h2{
      			text-align: center;
      			font-size: 25px;
      		}
      		h3{
      			text-align: center;
      			font-size: 16px;
      		}
      		h5{
      			text-align: center;
      			font-size: 14px;
      			color:black;
      			border:2px dotted black;
      		}
    		</style>
			<title>Résultat</title>
		</head>
		<body>
			<h2>Résultat:</h2></br>
			<h3>Liste de Nombres= {{entier5}}</br>
			Minimum= {{entier1}}</br>
			Maximum= {{entier2}}</br>
			Median= {{entier3}}</br>
			Mean= {{entier4}}</h3>
		</body></br>
		<h5>
		<a href="http://localhost:5000/">ACCUEIL</a></h5>
	</html>